* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #f8fbff;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.container {
    width: 100%;
    max-width: 600px;
    text-align: center;
}

/* Logo Header */
.logo-box {
    background-color: #8b5cf6;
    color: white;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
    font-size: 22px;
}

h1 { color: #1e293b; font-size: 26px; margin-bottom: 5px; }
.tagline { color: #64748b; font-size: 14px; margin-bottom: 30px; }
.back-nav { display: block; text-align: left; color: #64748b; text-decoration: none; font-size: 13px; margin-bottom: 15px; }

/* Main Card */
.card {
    background: white;
    border-radius: 20px;
    padding: 45px 40px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.04);
}

.icon-header {
    background-color: #eff6ff;
    color: #3b82f6;
    width: 55px;
    height: 55px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
    font-size: 24px;
}

h2 { color: #1e293b; font-size: 24px; margin-bottom: 5px; }
.subtitle { color: #64748b; font-size: 14px; }

/* Steps */
.steps {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 20px 0 40px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #e2e8f0;
    border-radius: 50%;
    transition: 0.3s;
}

.dot.active {
    background-color: #3b82f6;
    width: 35px;
    border-radius: 10px;
}

/* Form Fields */
.input-field {
    text-align: left;
    margin-bottom: 20px;
}

.input-field label {
    display: block;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 8px;
    color: #1e293b;
}

input {
    width: 100%;
    padding: 14px;
    border: 1px solid #e2e8f0;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
}

input:focus { border-color: #3b82f6; }

/* Buttons */
.actions {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.btn-back {
    flex: 1;
    background: white;
    border: 1px solid #e2e8f0;
    padding: 14px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

.btn-submit {
    flex: 2;
    background: linear-gradient(90deg, #4461f2, #4461f2);
    color: white;
    border: none;
    padding: 14px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}
.back{
    text-decoration: none;
    color: black;
}
.back1{
    text-decoration: none;
    color: white;
}